.card-Container-drivers{
  display: flex;
  justify-content: space-around;
}

.card-home-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-home{
  background-color: #314A57;
  margin: 1rem;
  transition: transform 0.3s ease;
}

.card-home:hover {
  transform: scale(1.1);
}


select{
  display: flex;
}

button.star{
  border: none;
}
