*{
  background-color: #05192A;
}
.navbar-brand{
  color: #FBFBFB;
}

.navbar-brand img{
  border-radius: 10rem;
}

#navbarSupportedContent{
  display: flex;
  justify-content: space-around;
}

.search-header{
  display: flex;
}

.nav-link{
  color: #FBFBFB;
}

.navbar-social{
  background-color: #314A57;
  color: #FBFBFB;
  display: flex;
  justify-content: center;
}

.bi{
  width: 30px;
  height: 24px;
}

.uf-city{
  display: flex;
  flex-direction: row;
}

.social-icon {
  font-size: 2rem; /* Ajustar o tamanho conforme necessário */
  color: #333; /* Cor padrão dos ícones */
  margin: 0 10px; /* Espaçamento entre os ícones */
}

.navbar-social div{
  background-color: #314A57;
}


.navbar-social div a img{
  background-color: #314A57;
}

.social-icons a{
  margin: 1rem;
}

.social-icons i{
  font-size: 2rem; /* Tamanho do ícone */
  background-color: #314A57;
}


.social-icons .bi-whatsapp{
  color: green;
}
.social-icons .bi-facebook{
  color: #0866FF;
}
.social-icons .bi-linkedin{
  color: #0A66C2;
}
.social-icons .bi-instagram{
  color: #FE2D65;
}
