*{
  background-color: #1B303A;
}
.navbar-brand{
  color: #FBFBFB;
}

#navbarSupportedContent{
  display: flex;
  justify-content: space-around;
}

.search-header{
  display: flex;
}

.nav-link{
  color: #FBFBFB;
}

.navbar-social{
  background-color: #314A57;
  color: #FBFBFB;
  display: flex;
  flex-direction: row-reverse;
}

.bi{
  width: 30px;
  height: 24px;
}

.uf-city{
  display: flex;
  flex-direction: row;
}

.social-icon {
  font-size: 24px; /* Ajustar o tamanho conforme necessário */
  color: #333; /* Cor padrão dos ícones */
  margin: 0 10px; /* Espaçamento entre os ícones */
}

.social-icon:hover {
  color: #007bff; /* Cor ao passar o mouse */
}
