<nav class="navbar navbar-expand-lg navbar-light">
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
      AQUI <br>FRETEIRO
    </a>
  </nav>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/drivers">Veiculos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/partner">Parceiros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/opportunities">Vagas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contato</a>
      </li>
      <li>
        <a href="/login" class="btn btn-outline-success">LOGIN</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Socialmidia -->
<nav class="navbar navbar-social">
  <h3 class="navbar-social">Nossas Redes:</h3>
  <div class="collapse navbar-collapse navbar-social">
    <a href="https://wa.me/5581999999999"><i class="bi bi-whatsapp"></i></a>
    <a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
    <a href="https://www.linkedin.com/"><i class="bi bi-linkedin"></i></a>
    <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
  </div>
</nav>
