<div class="opportunities">
  <div *ngFor="let card of cards">
    <button class="card mb-3" style="max-width: 540px;" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <div class="row g-0">
        <div class="col-md-4">
          <img [src]="card.imageUrl" class="img-fluid rounded-start" alt="Card image cap">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.description }}</p>
            <p class="card-text"><small class="text-muted">{{ card.lastUpdated }}</small></p>
          </div>
        </div>
      </div>
    </button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
