.card-home-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-home{
  background-color: #314A57;
}

.carousel-inner{
  display: flex;
  justify-content: space-around;
}
